@font-face {
    font-family: 'starfont';
    src: url('./artSrc/starfont.otf') format('opentype');
}

body {
    font-family: 'starfont';
    margin: 0;
    display: block;
    background: black;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#canvas {
    position: fixed;
    background: black;
    z-index: 10;
    display: 0;
}

#gameUI {
    display: block;
    z-index: 10;
}

/* Ingame UI */
#inGame {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    z-index: 10;
    opacity: 0
}

.gaugeBar {
    height: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

#hp {
    background: linear-gradient(180deg,
            #ccff66 0%,
            #66ff33 50%,
            #009900 100%);
    width: 400px;
}

#energy {
    background: linear-gradient(180deg,
            #66ffff 0%,
            #00e0ff 40%,
            #0099ff 100%);
    width: 200px;
}

/* Title Screen */
#titleScreen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 1;
}

h1 {
    color: black;
    text-shadow:
        5px 5px 0 Yellow,
        -5px -5px 0 Yellow,
        5px -5px 0 Yellow,
        -5px 5px 0 Yellow;
    font-size: 9rem;
    margin-top: 0;
    margin-bottom: 15%;
}

h2 {
    color: black;
    text-shadow:
        5px 5px 0 Yellow,
        -5px -5px 0 Yellow,
        5px -5px 0 Yellow,
        -5px 5px 0 Yellow;
    font-size: 4rem;
    padding: 0;
    margin: 0 auto;
}

h3 {
    color: yellow;
    font-size: 2.5rem;
    padding: 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.titleScreenOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleScreenOption {
    color: #e2e2e2;
    height: 3.5rem;
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
    list-style-type: none;
}

.titleScreenOption span {
    display: inline-block;
    transition: font-size 0.2s, color 0.2s, text-shadow 0.2s;
}

.selected span {
    color: white;
    font-size: 2.7rem;
    text-shadow: 0 0 12px #eeff00,
                 0 0 24px #fbff00;
}



/* Settings Menu */
#settings {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    opacity: 0;
}

.settingsOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settingsOption {
    color: #e2e2e2;
    height: 3.5rem;
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
    list-style-type: none;
}

.settingsContainer {
    text-align: center;
}

.settingsOption span {
    display: inline-block;
    transition: font-size 0.2s, color 0.2s, text-shadow 0.2s;
}

.upDownSettings {
    display: inline;
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding: 0.25rem 0;
    margin: 0.25rem 0;
    color: #e2e2e2;
}

.controls {
    color: #e2e2e2;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.controlsTable {
    margin: 0 auto;
    font-size: 1.4rem;
}

.controlsTable td {
    padding: 0.2rem 3.5rem;
    text-align: left;
}

/* Title Screen: Instructions Menu */
#instructions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    opacity: 0;
}

.instructionsContainer {
    max-width: 65rem;
}

.instructionSection {
    text-align: left;
    margin-top: 3rem;
}

.instructionsContainer p,
.instructionsContainer li {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 0;
    color: #e2e2e2;
}

.instructionsOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.instructionsOption {
    color: #e2e2e2;
    height: 3.5rem;
    font-size: 2.3rem;
    line-height: 2.3rem;
    padding: 0.25rem 0;
    padding-left: 1rem;
    margin: 0.25rem 0;
}

.instructionsOption span {
    display: inline-block;
    transition: font-size 0.2s, color 0.2s, text-shadow 0.2s;
}